* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Eyad Al-Samman - Ghibli";
  src: url(./assets/Eyad\ Al-Samman\ -\ Ghibli.otf) format("truetype");
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 18vh;
  color: #1c6773;
  font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(
    120deg,
    #eeb7aa 20%,
    #edd79d 40%,
    #c8e1e4 100%
  );
}

#logo {
  width: 22rem;
  padding-right: 2rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  padding-top: 2rem;
}

h2 {
  font-size: 2.4rem;
}

main {
  background-color: #fcf8ee;
  height: 77vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 1.6rem;
}

.buttons {
  font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-right: 5rem;
}

.bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  display: flex;
  height: 6rem;
  align-items: center;
  padding-right: 6rem;
  padding-left: 5.2rem;
}

.calc-result {
  color: #596f80;
  font-size: 1.8rem;
  font-weight: 500;
}

#filter-name-input {
  background-color: #c8e1e4;
  border-radius: 1rem;
  border: none;
  width: 15vw;
  padding: 0.5rem;
  outline: none;
  font-size: 1.5rem;
  height: 4rem;
  margin-left: 3rem;
}

#filter-name-input:active {
  color: #c8e1e4;
}

.filter-button {
  background-color: #ecd89a;
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 2rem;
  align-items: center;
}

.filter-button-char {
  background-color: #ecd89a;
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 2rem;
  align-items: center;
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.filter-type {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1c6773;
}

.list-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

/* FILMS CARDS */

.animation-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.cards,
.char-cards {
  display: flex;
  flex-direction: column;
  background-color: #c8e1e4;
  border-radius: 1rem;
  width: 25rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  border-color: #278b9a;
  border-style: solid;
  color: #3b4a54;
}

.char-cards {
  height: 36rem;
}

.posters {
  object-fit: cover;
  width: 20rem;
  height: 28rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.film-info-title {
  font-size: 1.6rem;
  color: #3b4a54;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.film-info {
  font-size: 1.4rem;
  color: #3b4a54;
  padding-bottom: 0.5rem;
}

.film-info-description {
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  color: #3b4a54;
}

.cards:hover {
  background-color: #e85b64;
  color: #edd79d;
}

.cards:hover .film-info-title {
  color: #fcf8ee;
}

.cards:hover .film-info {
  color: #fcf8ee;
}

.cards:hover .film-info-description {
  color: #fcf8ee;
}

/* MODAL FILM DESCRIPTION */
#modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#modal-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 65rem;
  height: 46rem;
  border-radius: 1rem;
  overflow: auto;
  border: #e85b64;
  border-style: solid;
  background-color: #fcf8ee;
}

.modal-title {
  font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
  color: #288a99;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.modal-side-left {
  position: relative;
  padding: 2rem;
  width: 30rem;
}

.modal-side-right {
  position: relative;
  padding: 2rem;
  width: 50rem;
}

.more-info-bts {
  background-color: #93c4ce;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  height: 2.5rem;
  padding: 0.6rem 1.5rem;
  margin: 0.2rem;
  opacity: 0;
}

.more-info-bts:active,
#close:active {
  background-color: #efbcaf;
  color: #fff;
}

.more-info {
  margin-top: 1.5rem;
  padding: 0.5rem;
  color: #e85b64;
  font-weight: 700;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

#close {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #94c5cc;
  height: 2.5rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
}

@media screen and (max-width: 600px) {
  .modal {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    width: 42rem;
  }
}

/* FLIP CARDS CHARACTERS */

.char-cards:hover .card-front {
  transform: rotateY(180deg);
}

.char-cards:hover .card-back {
  transform: none;
}

.char-cards {
  transition: transform 0.8s;
  position: relative;
  border-color: #e85b64;
  border-style: solid;
}

.char-cards:hover {
  background-color: #fadcdd;
  text-align: center;
  width: 25rem;
  height: 36rem;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  border: 0.5rem;
  height: 31.4rem;
}

.card-back img {
  width: 10rem;
  height: auto;
  padding-bottom: 3rem;
}

.card-back-info {
  text-align: left;
}

.card-front {
  transform: none;
}

.card-back .char-name {
  font-size: 1.8rem;
  padding-bottom: 3rem;
  font-weight: 700;
  color: #288a99;
}

.char-name {
  text-align: center;
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}

footer {
  height: 5vh;
  background-color: #1c6773;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
.new-class {
  width: 200rem;
}
