
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
  }
  
  html,
  body {
    height: 100vh;
    width: 100vw;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;  
  }
  
  @font-face {
    font-family: "Eyad Al-Samman - Ghibli";
    src: url(./assets/Eyad\ Al-Samman\ -\ Ghibli.otf) format("truetype");
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    height: 18vh;
    color: #1c6773;
    font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(
      120deg,
      #eeb7aa 20%,
      #edd79d 40%,
      #c8e1e4 100%
    );
  }
  
  #logo {
    width: 22rem;
    padding-right: 2rem;
  }
  
  h1 {
    font-size: 4rem;
    padding-top: 2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  main {
    background-color: #fcf8ee;
    height: 77vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 1.6rem;
   
  }
  
  .buttons {
    font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
  }
  
  .top-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 5rem; 
  }
  
  .bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    display: flex;
    height: 6rem;
    align-items: center;
    padding-right: 6rem;
    padding-left: 5.2rem;     
    color: #596F80;
  }

  .list-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    height: 4rem;
  }
  
  .calc-result {
    color: #596F80;
    font-size: 1.8rem;
    font-weight: 500;
  }  
  
  #filter-name-input {
    background-color: #c8e1e4;
    border-radius: 1rem;
    border: none;
    width: 15vw;
    padding: 0.5rem;
    outline: none;
    font-size: 1.5rem;
    height: 4rem;
    margin-left: 3rem;  
  }
  
  #filter-name-input:active {
    color: #c8e1e4;    
  }
  
  .filter-button{
    background-color: #ECD89A;
    border: none;  
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 2rem;
    align-items: center;  
  }
  
  .filter-type {
    display: flex;
    padding-left: 6rem;
    font-size: 2rem;
    color: #1c6773; 
  }  
  
  /* CARDS FILMES */

  .animation-cards {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 2rem; 
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.6rem;
  }
  
  .cards, .char-cards{
    display: flex;
    flex-direction: column;
    background-color: #c8e1e4;
    border-radius: 1rem;
    width: 25rem;
    height: 36rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
   
  }
  
  .cards:hover{
    background-color: #e85b64;
    color: #c8e1e4;
  }
  
  .posters {
    object-fit: cover;
    width: 20rem;
    height: 28rem;
    padding-bottom: 2rem;    
    padding-top: 1.5rem;
  }

  
  /* MODAL DESCRIPTION */
   
  #modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  #modal-wrapper.show {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 60rem;
    height: 42rem;    
    overflow: auto;
    border: #e85b64;
    border-style: solid;
  }

  @media screen and (max-width: 600px) {
    .modal {
      display: flex;
      flex-direction: column;
      overflow: auto;
      align-items: center;
      width: 42rem;
    }
  }
  
  .modal-title {
    font-family: "Eyad Al-Samman - Ghibli", Arial, Helvetica, sans-serif;
    color: #288A99;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  
  .modal-side {
    position: relative;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  
  .more-info-bts {
    background-color: #93C4CE;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    height: 2.5rem;
    padding: 0.6rem 1.5rem;
    margin: 0.2rem;
    opacity: 0;
  }
  
  .more-info-bts:active, #close:active {
    background-color: #EFBCAF;
    color: #fff;
  }
  
  .more-info {
    margin-top: 1.5rem;
    padding: 0.5rem;
  }
  
  .show {
    opacity: 1;
    pointer-events: auto;
  }
  
  #close {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #94C5CC;
    height: 2.5rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
  }
  
  .char-cards {
    color: #313E50;
    text-align: center;
    width: 25rem;
    height: 36rem;
    
  }
  
  .char-cards:hover{
    background-color: #FADCDD;
    text-align: center;
    width: 25rem;
    height: 36rem;
    
  }
  
  .char-name {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-weight: 700;
  }
  
  .film-info{
    padding: .7rem;
    text-align: left;
    font-size: 1.4rem;
  }
  
  .char-cards:hover .card-front {
    transform: rotateY(180deg);
  }
  
  .char-cards:hover .card-back {
    transform: none;
  }
  
  .char-cards {
    transition: transform 0.8s;
    position: relative;
    border-color:#1c6773 ;
    border-style: solid;
    
    
  }
  
  .card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
  
  }
  
  .card-back {
    transform: rotateY(180deg);
    border: .5rem;
    width: 20rem;
    height: 31.4rem; 
    
    
    /* background-color:#FCF8EE; */
  }
  
  .card-back img {
    width: 10rem;
    height: auto;
    padding-bottom: 3rem;
    
    /* background-color:#FCF8EE; */
  }
  
  .card-back-info {
    
    /* background-color:#FCF8EE; */
  }
  
  .card-back .char-name {
  
    font-size: 1.8rem;
    padding-bottom: 3rem;
    font-weight: 700;
    color: #288A99;
  }
  
  .card-front {
    transform: none;
  }
  
  .modal-wrapper.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  footer {
    height: 5vh;
    background-color: #1c6773;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .new-class{
    width: 20rem;
  }